
<div class="root">
    <div class="row">
        <div class="span12">
            <div class="grey-box"> 
				<p id="notice"><%= notice %></p>

				<p>
				  <b>Name:</b>
				  <%= @budget.name %>
				</p>

				<p>
				  <b>Number:</b>
				  <%= @budget.number %>
				</p>

				<p>
				  <b>Starts at:</b>
				  <%= @budget.starts_at %>
				</p>

				<p>
				  <b>Ends at:</b>
				  <%= @budget.ends_at %>
				</p>


				<%= link_to 'Edit', edit_budget_path(@budget) %> |
				<%= link_to 'Back', budgets_path %>
            </div>      
        </div>
    </div>
</div>
