
<div class="root">
	<div class="row">
		<div class="span12">
			<div class="grey-box">
				<h3>Dashboard</h3>
				Hand Reciept #: <%= @myhandreciepts[0].hand_reciept.reciept %><br/>
				Owner: <%= @myhandreciepts[0].hand_reciept.user.display_name %>
				
				<table class="table table-striped">
					<tr>
		                <th>End User</th>
		                <th>Inventory</th>
		                <th>Inventory status</th>
		                <th>Location</th>
		                <th>Latitude</th>
		                <th>Longitude</th>
		                <th>Created At</th>
		                <th>Updated At</th>
		                <th></th>
		                <th></th>
		                <th></th>
	              	</tr>
					<% @myhandreciepts.each do |inventory_record| %>
					<tr>
						<td><%= inventory_record.user.display_name %></td>
						<td><%= link_to "#{inventory_record.inventory.name}", inventory_path(inventory_record) %></td>
						<td><%= inventory_record.inventory_status.name %></td>
						<td><%= inventory_record.location.name %></td>
						<td><%= inventory_record.location.latitude %></td>
						<td><%= inventory_record.location.longitude %></td>
						<td><%= inventory_record.created_at.to_s(:short) %></td>
						<td><%= inventory_record.updated_at.to_s(:short) %></td>
					</tr>	
					<% end %>
				</table>
				<!-- 
				<% @HandRecieptsCount.each do |paper, count| %>
					<%= paper %>, <%= count %><br/>
				<% end %>
				 -->
			</div>
	 	</div>
	</div>
</div>

