<%= form_for(@inventory_record, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @inventory_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inventory_record.errors.count, "error") %> prohibited this inventory record from being saved:</h2>

      <ul>
      <% @inventory_record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :user , :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:user_id, User.all, :id, :display_name, {include_blank: true}) %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :inventory, :class => 'control-label' %>
    <div class="controls">

      <% if params[:action] == "new" %>
        <%# f.collection_select(:inventory_id, Inventory.unregistered, :id, :name, {include_blank: true}, {multiple: true}) %>
        <!-- 
        <% Inventory.unregistered.each do |item| %>
          <%= check_box_tag "inventory_record[inventory_id][]", item.id %>
          <%= label_tag dom_id(item), item.name %>
        <% end %>
 -->
<!--         <%= f.select(:inventory_id, Inventory.unregistered.collect{|x| [x.name, x.id]},{}, {:multiple => true, :size => 10}) %> -->

        <%= select_tag("inventory_record[inventory_id][]", options_from_collection_for_select(Inventory.all,"id","name"), :multiple =>true ) %>
      <% else %>
        <%= f.collection_select(:inventory_id, Inventory.all, :id, :name, {include_blank: true}) %>
      <% end %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :inventory_status, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:inventory_status_id, InventoryStatus.all, :id, :name, {include_blank: true}) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :location, :class => 'control-label'  %>
    <div class="controls">
      <%= f.collection_select(:location_id, Location.all, :id, :name, {include_blank: true})%>
    </div>
  </div>
  <!-- 
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div> 
  -->
<!--   <div class="field">
    <%= f.select :latitude, %w[1 2 3 4 5 6 7 8 9 10] %>
  </div>  -->
  

  <div class="form-actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
