<div class="root">
  <div class="row">
    <div class="span12">
      <div class="grey-box">
        <p id="notice"><%= notice %></p>


        <p>
          <b>Hand Reciept Owner:</b>
          <%= @inventory_record.hand_reciept.user.display_name %>
          (<%= @inventory_record.hand_reciept.reciept %>)
        </p>
        <p>
          <b>Hand Reciept Owner Email:</b>
          <%= @inventory_record.hand_reciept.user.email %>
        </p>
        <p>
          <b>User:</b>
          <%= @inventory_record.user.display_name %>
          <!-- <pre>
          <%= @inventory_record.user.inspect %>  
          </pre> -->
        </p>

        <p>
          <b>Inventory:</b>
          <%= @inventory_record.inventory.name %>
        </p>

        <p>
          <b>Category:</b>
          <% @inventory_record.inventory.inventory_categorys.each do |c| %>  
            <pre><%= c.category.name %></pre>
          <% end %>
        </p>
        
        <p>
          <b>Inventory status:</b>
          <%= @inventory_record.inventory_status.name %>
        </p>

        <p>
          <b>Location:</b>
          <%= @inventory_record.location.name %>
        </p>

        <p>
          <b>Latitude:</b>
          <%= @inventory_record.location.latitude %>
        </p>

        <p>
          <b>Longitude:</b>
          <%= @inventory_record.location.longitude %>
        </p>

        <p>
            <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@inventory_record.location.latitude}%2C#{@inventory_record.location.longitude}" %>
        </p>
        <% if can? :manage, @inventory_record %>
          <%= link_to 'Edit', edit_inventory_record_path(@inventory_record), class: "btn btn-primary" %> |
        <% end %>
        <%= link_to 'Back', inventory_records_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>