
<div class="root">
	<div class="row">
		<div class="span12">
			<div class="grey-box">
				<!-- <div class="black-transparent-box"> -->

					<p id="notice"><%= notice %></p>

					<p>
					  <b>Name:</b>
					  <%= @location.name %>
					</p>
					<p>
					  <b>Address:</b>
					  <%= @location.address %>
					</p>
					<p>
					  <b>Latitude:</b>
					  <%= @location.latitude %>
					</p>

					<p>
					  <b>Longitude:</b>
					  <%= @location.longitude %>
					</p>

					<p>
						<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}" %>
					</p>

					<%= link_to 'Edit', edit_location_path(@location), class: "btn btn-primary" %> |
					<%= link_to 'Back', locations_path, class: "btn btn-primary" %>
				<!-- </div> -->
			</div>
	 	</div>
	</div>
</div>